<h1> this is products page</h1>

<div class="panel panel-primary">
    <div class="panel-heading">{{title}}</div>
    <div class="panel-body"></div>
   <div class="row">
   <div class="col-md-2"> Filtered By:</div>
    <div class="col-md-4"><input type ="text"[(ngModel)]="filterProduct"/>
    </div></div>
    <div class="row">
            <div class="col-md-2">
                <h3>Filtered By:Name{{filterProduct}}</h3>
                <button class= "btn btn-success"(click)="toggleGrid()">
                        Grid
                        </button>
                        <button class= "btn btn-success"(click)="toggleList()">
                           List
                             </button>
            </div></div>
          
                                  
           
            <div class="table-responsive" *ngIf= "showTable">
                <h1>This is Grid view</h1>
                <table class="table">
                    <thead>
                        <tr><th><button class= "btn btn-success"(click)="toggleImage()">
                            {{Image?"Hide Image":"show Image"}}
                        </button>
                        
                           </th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Date</th>
                            <th>Price</th>
                            <th>star rating</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{Image}}
                        <tr *ngFor="let product of products | ProductFilter:filterProduct">
                            <td><img [src]="product.imageUrl" /></td>
                            <td>{{product.productId}}</td>
                            <td>{{product.productName | nameUpper}}</td>
                            <td>{{product.productCode | lowercase}}</td>
                            <td>{{product.releaseDate}}</td>
                            <td [ngStyle]="{'background-color': product.price>20?'red':'green'}">
                                {{product.price|currency}}</td>
                            <td>{{product.starRating}}<star-comp [rating]="product.starRating"
                                
                                ></star-comp></td>             
                                                        <td>{{product.description}}</td></tr>
                    </tbody>
                </table>
            </div>

            <div class="table-responsive" *ngIf= "showList">
                <h1>This is List View</h1>
             <ul *ngFor="let product of products | ProductFilter:filterProduct">
                 <li><img [src]="product.imageUrl" /></li>
                 <li>ID:{{product.productId}}</li>
                  <li>Name:{{product.productName | nameUpper}}</li>
                  <li>{{product.productCode | lowercase}}</li>
                  <li>{{product.releaseDate}}</li>
                  <li>{{product.price|currency}}</li>
                  <li>{{product.starRating}}<star-comp [rating]="product.starRating"
                                
                    ></star-comp></li>
                               <li>{{product.description}}<br /></li>
             
         </ul>
         </div>
            </div>
